@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

/* Miscelaneus */
@import url("./misc/animations.css");
@import url("./misc/helpers.css");
@import url("./misc/normalize.css");
@import url("./misc/variables.css");

/*  Pages  */
@import url("./pages/home.css");
@import url("./pages/shop.css");
@import url('./pages/item.css');
/*  Partials  */
@import url("./partials/header.css");
@import url("./partials/footer.css");

/*  slider  */
.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}

.slider__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  text-transform: uppercase;
}

.slider__items {
  display: flex;
  gap: var(--spacing-24);
}

.card-item__cover {
  display: flex;
  position: relative;
}

.card-item__tag {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  display: inline-block;
  font-size: var(--font-xsmall);
  padding: var(--spacing-8) var(--spacing-24);
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

.card-item__cover img {
  animation: fade 1.5s;
}

.card-item__img--back {
  display: none;
}

.card-item__cover:hover .card-item__img--back {
  display: block;
}

.card-item__cover:hover .card-item__img--front {
  display: none;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.card-item__licence {
  text-transform: uppercase;
  font-size: var(--font-small);
  font-weight: 500;
}

.card-item__name {
  text-transform: uppercase;
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price {
  font-size: var(--font-small);
}

.card-item__promo {
  text-transform: uppercase;
  font-size: var(--font-xsmall);
  font-weight: 500;
  color: var(--secondary-solid);
}
