*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Para los textos es recomendable usar medidas em*/
html {
  color: var(--dark-solid);
  font-family: var(--base-font);
  font-size: 62.5%; /* Se establece el font-size en 10px*/
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

p {
  font-size: 1.8em;
}

header,
footer {
  color: var(--light-font-solid);
  font-family: var(--alternative-font);
}

ul,
ol {
  list-style-type: none;
}

img {
  width: 100%;
}

input[type="text"]::placeholder {
  color: var(--dark-300);
  font-family: var(--base-font);
  font-weight: 500;
}
