/* HERO */
.hero {
  background-attachment: fixed;
  background-image: url("../../img/funkos-banner.webp");
  background-position: top;
  background-size: cover;
  padding: var(--spacing-128);
  position: relative;
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px) brightness(0.9);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: start;
  position: relative;
  z-index: 2;
}

.hero__title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid);
}

.hero__text {
  font-family: var(--alternative-font);
  font-size: var(--font-medium);
  color: var(--light-font-solid);
}

.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  margin-top: var(--spacing-36);
  transition: background 0.3s ease-in-out;
}

.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--light-font-solid);
}

/*  Collections  */

.collection {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
  order: -1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  align-items: start;
}

.collection__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
  text-transform: uppercase;
}

.collection__text {
  border-bottom: 3px solid var(--primary-solid);
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  padding-right: var(--spacing-145);
  padding-bottom: var(--spacing-20);
  margin-bottom: var(--spacing-16);
  text-align: left;
  text-transform: lowercase;
}

.collection__text::first-letter {
  text-transform: uppercase;
}

.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}

.collection__link:hover {
  background-color: var(--primary-900);
}
